@use "./scss/base/reset" as*;
@use "./scss/base/typography" as*;
@use "./scss/base/variables" as*;
@use "./scss/base/mixins/mixins" as* ;

body{
  background-color: $backgroundColor;
} 

.container {
  @include center-element(92%);
  margin-left: 1.2rem;
  margin-right: -1.2rem;
}

.hero__nav {
  position:fixed;
  top: 0;
  left:0;
  width:100%;
  height:8vh;
  overflow:scroll;
  background-image: linear-gradient(to right, #7474BF, #348AC7);
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:1.2rem;
}

.hero__logo {
  height: 25px;
}

@media screen and (max-width: 450px) and (orientation: portrait) {
.hero__phone-menu {
  height: 30px;
}
}


.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width:100%;
  min-width:max-content;
  height: 820px;
  background-image: linear-gradient(to right, #7474BF, #348AC7);
}

.hero__header {
  color: $headerColor;
  font-family: $base-font;
  font-weight:300;
  font-size: 2rem;
}

.hero__name {
  color: $primaryColor;
  font-family: $base-font;
  font-weight:300;
  font-size:2rem;
}

.annotation {
  font-family: $code-font;
  font-size:medium;
  color: $headerColor;
  opacity: 70%;
}

.top {
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.bottom {
    margin-bottom: 3rem;
}

.hero__btn {
    background-color: $primaryColor;
    color: #4185C5;
    border-radius: 14px;
    border-style: hidden;
    width: 120px;
    height: 30px;
    font-family: $base-font;
    font-weight: 300;
    float:right;

  &:hover {
    background-color:$headerColor;
    font-weight:400;
  }
}

.projects__header {
  font-family: $base-font;
  font-weight:400;
  color: $textColor;
}

.project-container {
  display:grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 1rem;
}

.card {
  height:170px;
  width:330px;
  background-color:$cardColor;
  border-radius:6px;
}

.stack__header {
  font-family: $base-font;
  font-weight:400;
  color: $accentColor2;
  margin-top: 1.5rem;
  text-align: center;
  text-transform:uppercase;
}

.section__line-1 {
  border-color: $accentColor2;
  border-style:solid;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid-stack {
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-areas: 
  "one two three four"
  "five six seven eight";
  grid-gap: 12px;
  justify-self:center;
  margin-top: 1rem;

.one, .two, .three, .four, .five, .six, .seven, .eight {
  height:40px;
  width:40px;
  justify-self:center;
}

.three {
  border-radius: 6px;
}
}

.about__header {
  font-family: $base-font;
  font-weight:400;
  color: $primaryColor;
  margin-top: 1.5rem;
  text-align:left;
  text-transform: uppercase;
  text-indent: 1rem;
}

.section__line-2 {
  border-color: $primaryColor;
  border-style:solid;
  margin-left: 1rem;
  margin-right: 1rem;
}

.about-container {
  display:grid;
  grid-template-columns: repeat(5,1fr);
}

.about__image {
  height:20vh;
  width:18vh;
  padding:0.5rem;
  grid-area: 1/1/2/2;
}
.about__text {
  font-family: $base-font;
  font-weight: 200;
  color: $textColor;
  padding: 1rem;
  grid-area: 1/2/6/6;
  
}

.contact__header {
  font-family: $base-font;
  font-weight:400;
  color: $accentColor2;
  margin-top: 1.5rem;
  text-align:right;
  text-transform: uppercase;
  margin-right: 1rem;
}

.section__line-3 {
  border-color: $accentColor2;
  border-style:solid;
  margin-left: 1rem;
  margin-right: 1rem;
}

.contact__text {
  font-family: $base-font;
  font-weight: 200;
  color: $textColor;
  padding:1rem;
}