@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 20;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button {
  cursor: pointer;
}

body {
  background-color: #101423;
}

.hero {
  display: grid;
  width: 100%;
  height: 500px;
  background-image: linear-gradient(to right, #7474BF, #348AC7);
}

.hero__header {
  color: #D7F9FF;
  font-family: Arial;
  font-weight: 200;
}

.hero__name {
  color: #81D8F7;
  font-family: Arial;
  font-weight: 200;
}

.hero__btn {
  color: #81D8F7;
  width: 100px;
  height: 50px;
  align-self: left;
}
.hero__btn .hero__btn--active:hover {
  color: #D7F9FF;
  font-weight: 400;
}

.stack__header {
  font-family: Arial;
  font-weight: 200;
  color: white;
  align-self: center;
}

.grid-stack {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "one two three four" "five six seven eight";
  grid-gap: 25px;
  align-content: center;
}