@use "./scss/base/reset" as *;
@use "./scss/base/typography" as *;
@use "./scss/base/variables" as *;
@use "./scss/base/mixins/mixins" as *;

body {
  background-color: $backgroundColor;
}

.container {
  @include center-element(90%);
  margin-left: 2rem;
  margin-right: -2rem;
}

.hero__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  background-image: linear-gradient(to right, #7474bf, #348ac7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  z-index: 1;
}

.hero__logo {
  height: 2rem;
}

.hero__phone-menu {
  height: 30px;
  @media screen and (min-width: 500px) {
    display: none;
  }
}

.hero__desktop-menu {
  flex-direction: row;
  word-spacing: 0.8em;
  font-family: $base-font;
  color: $primaryColor;
  font-weight: 400;
  font-size: 1.2rem;
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  min-width: 350px;
  height: 820px;
  background-image: linear-gradient(to right, #7474bf, #348ac7);
}

.hero__header {
  color: $headerColor;
  font-family: $base-font;
  font-weight: 300;
  font-size: 2rem;
}

.hero__name {
  color: $primaryColor;
  font-family: $base-font;
  font-weight: 300;
  font-size: 2rem;
}

.annotation {
  font-family: $code-font;
  font-size: medium;
  color: $headerColor;
  opacity: 70%;
}

.top {
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.bottom {
  margin-bottom: 3rem;
}

.hero__btn {
  background-color: $primaryColor;
  color: #4185c5;
  border-radius: 30px;
  border-style: hidden;
  width: 148px;
  height: 36px;
  font-family: $base-font;
  font-weight: 400;
  font-size: medium;
  float: right;

  &:hover {
    background-color: $headerColor;
    font-weight: 550;
  }
}

@media screen and (min-width: 500px) {
  .hero__header {
    font-size: 2.5rem;
  }

  .hero__name {
    font-size: 2.5rem;
  }

  .annotation {
    font-size: large;
  }

  .hero__btn {
    width: 150px;
    height: 38px;
    font-size: medium;
  }
}

@media screen and (min-width: 1024px) {
  .hero__header {
    font-size: 3.2rem;
  }

  .hero__name {
    font-size: 3.2rem;
  }

  .annotation {
    font-size: x-large;
  }

  .hero__btn {
    width: 164px;
    height: 48px;
    font-size: large;
    float: left;
    color: #7474bf;
  }
}

.portfolio__container {
  margin: 2rem;
}

.projects__header {
  font-family: $base-font;
  font-weight: 400;
  color: $textColor;
  margin-left: 0.4rem;
  font-size: 3vh;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  min-width: 410px;
  @media screen and (min-width: 1024px) {
    gap: 2.5rem;
  }
}

.card {
  height: 240px;
  width: 400px;
  background-color: $cardColor;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(5, 1fr);

  &--2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(5, 1fr);
  }

  .card__image {
    justify-self: start;
    height: 100%;
    grid-column: 1;
    grid-row: 1/6;
    padding: 0.8em;
    border-radius: 16px;

    &--2 {
      grid-column: 2/3;
      grid-row: 1/6;
    }
  }

  .project__line {
    font-family: $base-font;
    font-weight: 300;
    color: $primaryColor;
    text-transform: uppercase;
    text-align: left;
    text-decoration: underline;
    font-size: larger;
    grid-column: 2;
    grid-row: 1/2;
    align-self: center;

    &--2 {
      color: $accentColor;
      grid-column: 1/2;
      grid-row: 1/2;
      justify-self: start;
      margin-left: 0.8rem;
    }
  }

  .project__title {
    font-family: $base-font;
    font-weight: 500;
    color: $textColor;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.6rem;
    grid-column: 2;
    grid-row: 2/4;
    align-self: center;
    margin-right: 0.8rem;

    &--2 {
      margin-left: 0.8rem;
      grid-column: 1;
      grid-row: 2/4;
    }
  }

  .project__tags {
    font-family: $base-font;
    font-weight: 200;
    color: $primaryColor;
    text-align: left;
    font-size: medium;
    word-spacing: 1em;
    grid-column: 2;
    grid-row: 4/5;
    align-self: center;

    &--2 {
      color: $accentColor;
      grid-column: 1;
      grid-row: 4/5;
      margin-left: 0.8rem;
    }
  }

  .project__button {
    background-color: $textColor;
    color: $cardColor;
    border-radius: 14px;
    border-style: hidden;
    height: 26px;
    font-family: $base-font;
    font-weight: 300;
    font-size: 0.8rem;
    grid-column: 2;
    grid-row: 5/6;
    align-self: start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &--1 {
      padding: 0.8rem;
      justify-self: start;
      margin-right: 0.6rem;
      width: 110px;
      &:hover {
        background-color: $primaryColor;
      }
    }

    &--2 {
      padding: 0.8rem;
      justify-self: right;
      margin-right: 0.8rem;
      width: 110px;
      &:hover {
        background-color: $primaryColor;
      }
    }

    &--12 {
      padding: 0.8rem;
      width: 110px;
      grid-column: 1;
      grid-row: 5/6;
      justify-self: start;
      align-self: start;
      margin-left: 0.8rem;
      &:hover {
        background-color: $accentColor;
      }
    }

    &--22 {
      padding: 0.8rem;
      width: 110px;
      grid-column: 1;
      grid-row: 5/6;
      justify-self: right;
      align-self: start;
      &:hover {
        background-color: $accentColor;
      }
    }
  }
}

.stack__header {
  font-family: $base-font;
  font-weight: 400;
  color: $accentColor2;
  margin-top: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 3vh;
}

.section__line-1 {
  border-color: $accentColor2;
  border-style: solid;
  margin-left: 1rem;
  margin-right: 1rem;
  min-width: 380px;
}

.grid-stack {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "one two three four"
    "five six seven eight";
  grid-gap: 1.2rem;
  justify-self: center;
  margin-top: 1.3rem;
  min-width: 410px;

  .one,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight {
    height: 2.5rem;
    justify-self: center;
    @media screen and (min-width: 1024px) {
      height: 4rem;
    }
  }

  .three {
    border-radius: 6px;
    @media screen and (min-width: 1024px) {
      height: 4rem;
    }
  }
}

.about__header {
  font-family: $base-font;
  font-weight: 400;
  color: $primaryColor;
  margin-top: 3.5rem;
  text-align: left;
  text-transform: uppercase;
  text-indent: 1rem;
  font-size: 3vh;
  position: sticky;
}

.section__line-2 {
  border-color: $primaryColor;
  border-style: solid;
  margin-left: 1rem;
  margin-right: 1rem;
  min-width: 380px;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  min-width: 410px;
  display: flex;
  align-items: center;
}

.about__image {
  height: 15rem;
  padding: 1rem;
  grid-area: 1/1/2/2;
  margin-top: 0.5rem;
  @media screen and (max-width: 500px) {
    height: 12rem;
  }
}

.about__text {
  font-family: $base-font;
  font-weight: 200;
  color: $textColor;
  padding: 1rem;
  grid-area: 1/2/6/6;
  margin-top: 0.5rem;
  @media screen and (min-width: 1024px) {
    font-size: large;
  }
}

.contact__header {
  font-family: $base-font;
  font-weight: 400;
  color: $accentColor2;
  margin-top: 2.25rem;
  text-align: right;
  text-transform: uppercase;
  margin-right: 1rem;
  font-size: 3vh;
}

.section__line-3 {
  border-color: $accentColor2;
  border-style: solid;
  margin-left: 1rem;
  margin-right: 1rem;
  min-width: 380px;
}

.contact-container {
  gap: 0.5rem;
  margin-right: 1rem;
  margin-top: 0.7rem;
  min-width: 410px;
  @media screen and (max-width: 500px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: end;
  }
}

.contact__text {
  font-family: $base-font;
  font-weight: 200;
  color: $textColor;
  padding: 0.5rem;
  text-align: right;
  justify-self: left;
  @media screen and (max-width: 500px) {
    padding-right: 5rem;
  }
  @media screen and (min-width: 1024px) {
    font-size: large;
  }
}

.contact__links {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.7rem;

  @media screen and (max-width: 500px) {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
    position: relative;
    top: -110px;
    gap: 0.3rem;
  }
}

.contact__icon1 {
  height: 2.2rem;
}

.contact__icon2 {
  height: 2.8rem;
}

.contact__icon3 {
  height: 2.3rem;
}
