@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Euphoria+Script&family=Inter:wght@100&family=La+Belle+Aurore&family=Poppins:wght@100;200;300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button {
  cursor: pointer;
}

.btn {
  border-radius: 14px;
  border-style: hidden;
}

.hr {
  border-style: solid;
  margin-left: 1rem;
  margin-right: 1rem;
}

body {
  background-color: #101423;
}

.container {
  width: 92%;
  margin: 1rem;
  margin-left: 1.2rem;
  margin-right: -1.2rem;
}

.hero__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  overflow: scroll;
  background-image: linear-gradient(to right, #7474BF, #348AC7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  z-index: 1;
}

.hero__logo {
  height: 25px;
}

.hero__phone-menu {
  height: 30px;
}
@media screen and (min-width: 1024px) {
  .hero__phone-menu {
    display: none;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  min-width: max-content;
  height: 820px;
  background-image: linear-gradient(to right, #7474BF, #348AC7);
}

.hero__header {
  color: #D7F9FF;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

.hero__name {
  color: #81D8F7;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

.annotation {
  font-family: "La Belle Aurore", cursive;
  font-size: medium;
  color: #D7F9FF;
  opacity: 70%;
}

.top {
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.bottom {
  margin-bottom: 3rem;
}

.hero__btn {
  background-color: #81D8F7;
  color: #4185C5;
  border-radius: 14px;
  border-style: hidden;
  width: 120px;
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  float: right;
}
.hero__btn:hover {
  background-color: #D7F9FF;
  font-weight: 400;
}

.projects__header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
}

.card {
  height: 220px;
  width: 330px;
  background-color: #3E3D45;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(5, 1fr);
}

.card__image {
  justify-self: start;
  height: 100%;
  width: 9rem;
  grid-column: 1;
  grid-row: 1/6;
  padding: 0.6rem;
  border-radius: 12px;
}

.stack__header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #9C92E7;
  margin-top: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.section__line-1 {
  border-color: #9C92E7;
  border-style: solid;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid-stack {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "one two three four" "five six seven eight";
  grid-gap: 12px;
  justify-self: center;
  margin-top: 1rem;
}
.grid-stack .one, .grid-stack .two, .grid-stack .three, .grid-stack .four, .grid-stack .five, .grid-stack .six, .grid-stack .seven, .grid-stack .eight {
  height: 40px;
  width: 40px;
  justify-self: center;
}
.grid-stack .three {
  border-radius: 6px;
}

.about__header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #81D8F7;
  margin-top: 1.5rem;
  text-align: left;
  text-transform: uppercase;
  text-indent: 1rem;
}

.section__line-2 {
  border-color: #81D8F7;
  border-style: solid;
  margin-left: 1rem;
  margin-right: 1rem;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.about__image {
  height: 20vh;
  width: 18vh;
  padding: 0.5rem;
  grid-area: 1/1/2/2;
  border-radius: 12px;
  align-self: center;
  justify-self: center;
}

.about__text {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: white;
  padding: 1rem;
  grid-area: 1/2/6/6;
  align-self: center;
}

.contact__header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #9C92E7;
  margin-top: 1.5rem;
  text-align: right;
  text-transform: uppercase;
  margin-right: 1rem;
}

.section__line-3 {
  border-color: #9C92E7;
  border-style: solid;
  margin-left: 1rem;
  margin-right: 1rem;
}

.contact-container {
  display: grid;
  grid-template-columns: auto, 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.2rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.contact__text {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: white;
  padding: 1rem;
  text-align: right;
  grid-column: 1;
  grid-row: 1/4;
  justify-self: left;
  align-self: center;
}

.contact__icon1 {
  height: 2rem;
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  justify-self: center;
}

.contact__icon2 {
  height: 2.5rem;
  grid-column: 2;
  grid-row: 2;
  align-self: center;
}

.contact__icon3 {
  height: 2.2rem;
  grid-column: 2;
  grid-row: 3;
  align-self: start;
  justify-self: center;
}